<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/form}" method="post">
		<div>
			<label for="usermane">Username</label>
			<div>
				<input type="text" name="usermane" id="usermane">
			</div>
		</div>
		<div>
			<label for="password">Password</label>
			<div>
				<input type="text" name="password" id="password">
			</div>
		</div>
		<div>
			<label for="email">Email</label>
			<div>
				<input type="email" name="email" id="email">
			</div>
		</div>
		<div>
			<div>
				<input type="submit" value="Enviar">
			</div>
		</div>
	</form>
</body>
</html>