<h2>Ejemplo de SWITCH Y STYLE</h2>
<h3>Colores Switch</h3>
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'red'" [ngStyle]="{'background':color, 'color':'white', 'padding':'20px'}">El color el rojo</li>
  <!--lo unico que no ponemos entre comillas es la variable -->
  <li *ngSwitchCase="'green'" [ngStyle]="{'background':color, 'color':'white', 'padding':'20px'}">El color el verde</li>
  <li *ngSwitchCase="'blue'" [ngStyle]="{'background':color, 'color':'white', 'padding':'20px'}">El color el azul</li>
</ul>
<hr />
<h2>Ejemplo de TWO WAY DATA-BINDING</h2>
<h3>Selector de colores:</h3>
<button (click)="logColorSeleccionado()">Mostrar Log</button>
<input type="text" [(ngModel)]="color_seleccionado" />
<pre  [style.border] = "color_seleccionado == 'red' ? '5px solid black' : '5px solid pink'"
[ngClass]="{
fondoazul: color_seleccionado=='blue',
fondoverde: color_seleccionado=='green'}">
  Color elegido:
  {{color_seleccionado}}
</pre>
<div [ngStyle]="{
  'background':color_seleccionado,
  'width':'100px', 'height':'100px',
  'float': 'right',
  'margin-right': '75%'}">
</div>
<div style="clear:both">

</div>
<hr />
<h2>Ejemplo de IF</h2>
<h3 style="color:blue;">
  {{titulo}}
</h3>
<strong>Empleado estrella: </strong><br>
<br>

<div *ngIf="trabajador_externo==true">
  <button type="button" name="button" (click)="cambiarExterno(false)">Mostrar empleado</button>
  <ul>
    <li>{{trabajadores[1].nombre}}</li>
    <li>{{trabajadores[1].edad}}</li>
    <li>{{trabajadores[1].cargo}}</li>
    <li *ngIf="trabajadores[1].contratado == true">Esta contratado</li>
    <li *ngIf="trabajadores[1].contratado == false">No esta contratado</li>
  </ul>
</div>

<div *ngIf="trabajador_externo == false">
  <button type="button" name="button" (click)="cambiarExterno(true)">Mostrar trabajador</button>
  <ul>
    <li>{{empleado.nombre}}</li>
    <li>{{empleado.edad}}</li>
    <li>{{empleado.cargo}}</li>
    <li *ngIf="empleado.contratado == true">Esta contratado</li>
    <li *ngIf="empleado.contratado == false">No esta contratado</li>
  </ul>
</div>
<hr />
<h2>Ejemplo de FOR</h2>
<h3>Listado de empleados</h3>
<ul>
  <li *ngFor="let empleado of trabajadores; let i = index">
    <strong>Empleado {{i+1}}: </strong>
    <ul>
      <li>{{empleado.nombre}}</li>
      <li>{{empleado.edad}}</li>
      <li>{{empleado.cargo}}</li>
      <li *ngIf="empleado.contratado == true">Esta contratado</li>
      <li *ngIf="empleado.contratado == false">No esta contratado</li>
    </ul>
  </li>
</ul>
<hr />
